[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dcm2"]
	path = dcm2
	url = https://github.com/atlas-aai/dcm2
[submodule "tdcmStan"]
	path = tdcmStan
	url = https://github.com/atlas-aai/tdcmstan
